// FontFace Josefin-Sans
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url(/assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url(/assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: 'JosefinSans-Medium';
    src: url(/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: 'JosefinSans-Light';
    font-weight: 200;
    src: url(/assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(/assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

// Font face Nunito

@font-face {
    font-family: 'Nunito-Bold';
    src: url(/assets/fonts/Nunito/static/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url(/assets/fonts/Nunito/static/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url(/assets/fonts/Nunito/static/Nunito-Medium.ttf);
}

@font-face {
    font-family: 'Nunito-Light';
    src: url(/assets/fonts/Nunito/static/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url(/assets/fonts/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Kaushan';
    src: url(/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}